@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
            format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
            format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
            format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
            format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
            format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
            format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
            format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
            format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
            format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
            format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
            format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
            format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
            format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
            format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
            format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
            format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
            format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
            format('opentype');
}

/*기본 스타일*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p {
    font-family: 'Noto Sans KR', sans-serif;
    color: #344144;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
input {
    border: none;
}

td {
    padding: 0;
}

/*폰트 두께*/
.txt_b {
    font-weight: 700;
}

.txt_m {
    font-weight: 600;
}

/*폰트 크기 (txt_폰트크기숫자)*/
.txt_10 {
    font-size: 10px;
    line-height: 12px;
}

.txt_14 {
    font-size: 14px;
    line-height: 20px;
}

.txt_16 {
    font-size: 16px;
    line-height: 23px;
}

.txt_18 {
    font-size: 18px;
    line-height: 26px;
}

.txt_20 {
    font-size: 20px;
}

.txt_24 {
    font-size: 24px;
}

.txt_30 {
    font-size: 30px;
    line-height: 43px;
}

.p_btn_bottom {
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin-top: 18px;
}

/*폰트 컬러 (txt_컬러)*/
.txt_wh {
    color: white;
}

.txt_primaryBlue {
    color: #62c3eb;
}

.txt_primaryBlue2 {
    color: #3baad8;
}

.txt_gray1 {
    color: #747474;
}

/*폰트 정렬*/
.txt_center {
    text-align: center;
}

/*마진*/
.mg_t10 {
    margin-top: 10px;
}

.mg_t16 {
    margin-top: 16px;
}

.mg_t20 {
    margin-top: 20px;
}

.mg_t24 {
    margin-top: 24px;
}

.mg_t30 {
    margin-top: 30px;
}

.mg_l10 {
    margin-left: 10px;
}

.mg_l16 {
    margin-left: 16px;
}

.mg_b2 {
    margin-bottom: 2px;
}

/*페딩*/
.pd_18 {
    padding: 18px;
}

.pd_20 {
    padding: 20px;
}

.pd_24 {
    padding: 24px;
}

.pd_t4 {
    padding-top: 4px;
}

.pd_t10 {
    padding-top: 10px;
}

.pd_t16 {
    padding-top: 16px;
}

.pd_t16per {
    padding-top: 16%;
}
.pd_t20 {
    padding-top: 20px;
}
.pd_t26 {
    padding-top: 26px;
}
.pd_t30 {
    padding-top: 30px;
}

.pd_t60 {
    padding-top: 60px;
}

.pd_t80 {
    padding-top: 80px;
}

.pd_t130 {
    padding-top: 130px;
}

.pd_l20 {
    padding-left: 20px;
}

.pd_r20 {
    padding-right: 20px;
}

.pd_b80 {
    padding-bottom: 80px;
}

.pd_b16 {
    padding-bottom: 16px;
}

/*div style*/
.rd_posi_1 {
    position: absolute;
    left: 5%;
    top: 13.55%;
    bottom: 75.86%;
}

.rd_posi_2 {
    position: absolute;
    left: 5%;
    top: 18.84%;
    bottom: 75.86%;
}

.rd_posi_3 {
    position: absolute;
    left: 5%;
    top: 28.2%;
    bottom: 65.39%;
}

.rd_posi_4 {
    position: absolute;
    left: 5%;
    top: 36.58%;
    bottom: 60.22%;
}

.rd_posi_img {
    position: absolute;
    width: 90%;
    top: 50%;
    bottom: 14.53%;
}

.txt_back_highlight {
    height: 5px;
    background: #62c3eb;
    opacity: 0.5;
    position: absolute;
    left: 5%;
    top: 38.55%;
    bottom: 60.22%;
}
/*여기까지가 랜딩*/

.btn_bottom {
    position: fixed;
    width: 100%;
    height: 64px;
    left: 0;
    bottom: 0;
}

.back_div {
    width: 11px;
    height: 40px;
}

.login_btn {
    position: fixed;
    width: 90%;
    left: 5%;
    bottom: 36px;
}

.fingerprint_div {
    position: fixed;
    width: 90%;
    left: 5%;
    bottom: 10%;
    height: 140px;
}

.toptitle_div {
    width: 100%;
    height: 110px;
    box-shadow: 0px 4px 20px rgba(117, 128, 138, 0.1);
}

.box_div {
    box-shadow: 0px 4px 20px rgba(117, 128, 138, 0.1);
    border-radius: 10px;
}

.container {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
    overflow-x: hidden;
}

/*하단 네비게이션*/
.bottom_navi {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
}

/*네비게이션 아이콘*/
.home_div {
    width: 24px;
    height: 24px;
}

/*네비게이션 스타일*/
.bottom_navi_div {
    width: 25%;
    padding-top: 7px;
}

/*숨김*/
.hide {
    visibility: hidden;
}

/*높이*/
.height_80 {
    height: 80px;
}

.height_160 {
    height: 160px;
}

/*img*/
.img_rending {
    max-height: 288px;
    max-width: 324px;
}

.fingerprint_icon {
    width: 65px;
}

/*배경컬러*/
.bg_wh {
    background-color: white;
}

.bg_gray3 {
    background: #dfe2e8;
}

.bg_gray5 {
    background: #fafbfc;
}

.bg_primaryblue {
    background: #62c3eb;
}

.bg_opacityblue {
    background: #62c3eb;
    opacity: 40%;
}

/*버튼 - ex.1원 인증*/
.btn_blueBorder {
    padding-left: 14px;
    padding-right: 14px;
    height: 30px;
    background-color: white;
    border: 1px solid #62c3eb;
    box-sizing: border-box;
    border-radius: 15px;
}

.btn_blue {
    padding-left: 13px;
    padding-right: 13px;
    height: 30px;
    background-color: #62c3eb;
    border: 1px solid #62c3eb;
    box-sizing: border-box;
    border-radius: 15px;
}

/*체크박스 커스텀*/
.checkbox__label {
    font-size: 18px;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
.checkbox__input[type='checkbox'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    bottom: 2px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin: 0 8px 0 0;
    position: relative;
    vertical-align: middle;
    width: 24px;
    border-radius: 12px;
    background-color: #dfe2e8;
}
.checkbox__input[type='checkbox']::before {
    border: none;
    border-radius: 12px;
    content: '';
    display: block;
    height: 24px;
    position: absolute;
    width: 24px;
}
.checkbox__input[type='checkbox']:checked::after {
    border: solid white;
    border-width: 0 2px 2px 0;
    content: '';
    display: block;
    height: 8px;
    left: 7px;
    position: absolute;
    top: 5px;
    transform: rotate(45deg);
    width: 8px;
}
.checkbox__input[type='checkbox']select::-ms-expand {
    display: none;
}
.checkbox__input[type='checkbox']:checked {
    background-color: #62c3eb;
}
