.MuiButton-root:hover {
    text-decoration: none;
    background-color: rgba(98, 195, 235, 0.6);
}

.MuiIconButton-root {
    padding: 0;
}

.MuiSvgIcon-root {
    font-size: 2rem;
}

.bg_gray5 {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 100% !important;
}

.slick-slider,
.slick-list,
.slick-track {
    height: 100%;
}

.slick-slide > div {
    height: 100%;
    display: flex;
}

.slick-slide img {
    display: flex;
    margin: auto;
}

.back_div {
    width: 40px !important;
    height: 40px !important;
    margin-top: 15px !important;
}

.btn_bottom {
    position: relative;
    display: flex;
    min-height: 64px;
}

.glow_body {
    overflow-y: auto;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.toptitle_div {
    display: flex;
}

.p_btn_bottom {
    margin-top: 0 !important;
}

.MuiFormControlLabel-root {
    margin: 0;
}

.MuiCardContent-root:last-child {
    padding: 16px;
}

.MuiTypography-body1,
.MuiTypography-body2,
.MuiTypography-body3 {
    font-family: 'Noto Sans KR', sans-serif;
}

.MuiBottomNavigationAction-root.Mui-selected {
    color: #62c3eb !important;
}
