.MuiButton-root:hover {
    text-decoration: none;
    background-color: rgba(98, 195, 235, 0.6);
}

.MuiIconButton-root {
    padding: 0;
}

.MuiSvgIcon-root {
    font-size: 2rem;
}

.slick-slider,
.slick-list,
.slick-track {
    height: 100%;
}

.slick-slide > div {
    height: 100%;
    display: flex;
}

.slick-slide img {
    display: flex;
    margin: auto;
}

.back_div {
    width: 40px !important;
    height: 40px !important;
    margin-top: 15px !important;
}

.btn_bottom {
    position: absolute;
}

.p_btn_bottom {
    margin-top: 0 !important;
}
